.employees {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.employees__employeecard {
  display: flex;
  width: 15vw;
  flex-direction: column;
  margin: 48px auto;
  gap: 8px;
  position: relative;
  filter: grayscale(0.25);
  transition: var(--transition);
}
.employees__employeecard:hover {
  filter: grayscale(0);
  scale: 1.01;
}
.employees__employeecard::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 2px;
  bottom: -5%;
  background-color: var(--bluecolor);
  transition: var(--transition);
}
.employees__employeecard:hover::after {
  width: 30%;
}
.employees__employeeimg {
  box-shadow: 0 4px 16px rgba(0,0,0,0.25);
}
.employees__minorcaption {
  font-size: 0.75rem;
  font-weight: 100;
}
