.hero {
  position: relative;
  background-color: var(--blackcolor);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero__background {
  background-image: url(../../assets/bg00.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.hero__container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--fadecolor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  color: var(--whitecolor);
  position: relative;
  padding: 32px;
}
.hero__caption {
  font-weight: 500;
  font-size: var(--fontsize-xxl);
  text-align: center;
}
.hero__navcontainer {
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.hero__arrow {
  cursor: pointer;
  width: 38px;
  height: auto;
  fill: rgba(255, 255, 255, 0.75);
  position: absolute;
  bottom: 5%;
  transition: var(--transition);
}
.hero__arrow:hover {
  fill: rgb(255, 255, 255);
  scale: 1.1;
}

@media (max-width: 480px) {
  .hero__navcontainer {
    flex-direction: column;
  }
}
