.employees {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.employees__employeecard {
  display: flex;
  width: 90%;
  flex-direction: column;
  margin: 48px auto;
  gap: 8px;
  position: relative;
  filter: grayscale(0.25);
  transition: var(--transition);
}
.employees__employeecard:hover {
  filter: grayscale(0);
  scale: 1.01;
}
.employees__employeecard::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 2px;
  bottom: -5%;
  background-color: var(--bluecolor);
  transition: var(--transition);
}
.employees__employeecard:hover::after {
  width: 30%;
}
.employees__employeeimg {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1280px) {
  .employees {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .employees {
    grid-template-columns: repeat(1, 1fr);
  }
}
